@font-face {
    font-family: Trajan Pro\ 3;
    src: url(../media/static/media/Trajan.45cb6689c0b3aa21bd31.ttf)
}

* {
    font-family: Trajan Pro\ 3, serif
}

body,
html {
    margin: 0
}

.logo {
    align-items: center;
    display: flex;
    gap: 30px
}

.logo__icon {
    height: 87px;
    width: 87px
}

.first-banner {
    align-items: flex-start;
    background: radial-gradient(107.18% 107.18% at 50% -7.18%, #a4f4ff 0, #0d4f9f 78.58%), url(../media/firstbanner.c1505c9449fba151cea2.png) no-repeat 50%;
    background-blend-mode: hard-light;
    background-size: 100%;
    height: calc(100vh - 70px);
    padding: 35px 200px
}

.first-banner,
header {
    display: flex;
    justify-content: space-between
}

header {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(37, 164, 255, .2);
    flex-direction: column;
    height: calc(100% - 190px);
    max-width: 717px;
    padding: 60px;
    position: relative;
    top: -35px
}

.header-navbar {
    display: flex;
    gap: 30px
}

.header-navbar a {
    color: #0d4f9f;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none
}

header h3 {
    font-size: 36px;
    line-height: 46px;
    max-width: 490px
}

header button,
header h3 {
    color: #fff;
    font-style: normal;
    font-weight: 300
}

header button {
    background: rgba(37, 164, 255, 0);
    border: 1px dotted #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 30px;
    width: 100%
}

.second-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -205px
}

.second-banner img {
    width: 100%
}

.second-banner__butt {
    align-items: center;
    box-shadow: 0 -37px 55px 26px #fff;
    display: flex;
    flex-direction: column;
    width: 100%
}

.second-banner__butt h1 {
    margin-top: 100px
}

.main-button {
    background: transparent;
    border: 1px solid #000;
    color: #3c3953;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin: 60px 0;
    padding: 30px
}

.third-banner div {
    display: flex;
    justify-content: center
}

.third-banner__text {
    flex-direction: column;
    padding: 100px
}

.third-banner h3 {
    font-size: 36px;
    font-style: normal;
    font-weight: 300
}

.third-banner {
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px
}

.third-banner__about {
    background: #0d4f9f
}

.third-banner__about__image,
.third-banner__ref__image {
    width: 50vw
}

.third-banner__about__image {
    background: url(../media/static/media/banner4.5883bd14ed68e9a7561d.png) no-repeat;
    background-size: cover
}

.third-banner__ref__image {
    background: radial-gradient(107.18% 107.18% at 50% -7.18%, #a4f4ff 0, #0d4f9f 78.58%), url(../media/static/media/banner4ref.948fd919aeff488c64c2.png) no-repeat 50%;
    background-blend-mode: hard-light;
    background-size: cover
}

.third-banner__about__text,
.third-banner__ref__text {
    width: calc(50vw - 200px)
}

.third-banner__about__text h3,
.third-banner__about__text p {
    color: #fff
}

.third-banner__about__text,
.third-banner__ref__text {
    flex-direction: column;
    padding: 100px
}

.third-banner__ref__text button {
    margin: 60px auto;
    max-width: 450px
}

footer {
    background: #0d4f9f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px
}

.myfooter__socials {
    display: block !important
}

.myfooter__socials h1 {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 200
}

.myfooter__contacts h3 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 200
}

.myfooter__socials__icons {
    display: flex;
    gap: 15px
}

@media (max-width:1545px) {

    .first-banner,
    footer {
        padding: 35px 15px
    }
}

@media (max-width:1084px) {
    .third-banner__about {
        align-items: center;
        flex-direction: column
    }

    .third-banner__ref {
        align-items: center;
        flex-direction: column-reverse
    }

    .third-banner__about__text,
    .third-banner__ref__text {
        padding: 15px;
        width: calc(100% - 30px)
    }

    .third-banner__about__image,
    .third-banner__ref__image {
        height: 500px;
        width: 100%
    }
}

@media (max-width:1070px) {
    .second-banner {
        top: 0
    }

    .first-banner {
        align-items: center;
        flex-direction: column;
        padding: 0
    }

    header {
        background: rgba(37, 164, 255, .8);
        height: calc(100vh - 110px);
        max-width: calc(100% - 40px);
        padding: 20px;
        position: absolute;
        top: 0;
        width: 100%
    }
}

@media (max-width:848px) {
    footer {
        align-items: center;
        flex-direction: column
    }

    .header-navbar,
    .myfooter__socials__icons {
        flex-wrap: wrap
    }
}

/*# sourceMappingURL=main.1594a46b.css.map*/
